Escolha_de_servi_o.json
{
  "name": "Escolha de serviço",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "Coleta de dados",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -140,
        320
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Coleta de dados').item.json.body }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "08063a6a-8717-4de3-a506-39a413605a09"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f380ade-bf13-4901-ab8e-014c9312476c",
                    "leftValue": "={{ $('Coleta de dados').item.json.body }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e6143f87-dfd2-4088-9f83-c0b72151e9aa",
                    "leftValue": "={{ $('Coleta de dados').item.json.body }}",
                    "rightValue": "4",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "247581fe-8c1a-4a4c-b716-22366a9eafa2",
                    "leftValue": "={{ $('Coleta de dados').item.json.body }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        140,
        300
      ],
      "id": "c1ff795b-2dc4-490e-955b-0f5bf945adf4",
      "name": "Serviço selecionado"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://cmmodulados.gosac.com.br/api/tickets/{{ $('Coleta de dados').item.json.ticketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "INTEGRATION 0ddfe6600ac270ae602f509c3bf247dd8b581fe6672dc48fcb2853d91328"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "6"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        100
      ],
      "id": "82127fe3-8c55-415b-a339-12dd73248467",
      "name": "Redirecionar para Projeto Executivo"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://cmmodulados.gosac.com.br/api/tickets/ {{ $('Coleta de dados').item.json.ticketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "INTEGRATION 0ddfe6600ac270ae602f509c3bf247dd8b581fe6672dc48fcb2853d91328"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "58"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        300
      ],
      "id": "ec8d1bb3-5a7d-423b-82b6-cdbea6adc35f",
      "name": "Redirecionar para assistencia tecnica"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://cmmodulados.gosac.com.br/api/tickets/{{ $('Coleta de dados').item.json.ticketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "INTEGRATION 0ddfe6600ac270ae602f509c3bf247dd8b581fe6672dc48fcb2853d91328"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "userId",
              "value": "49"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        860,
        500
      ],
      "id": "efea2144-defd-4c7c-b40f-5723ec96ff27",
      "name": "Redirecionar para financeiro"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_mensagem_cliente",
          "mode": "list",
          "cachedResultName": "tb_mensagem_cliente"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contactid": "={{ $('Coleta de dados').first().json.contactId }}",
            "ematendimento": true,
            "state": 3
          },
          "matchingColumns": [
            "contactid"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mediapath",
              "displayName": "mediapath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mediatype",
              "displayName": "mediatype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ticketid",
              "displayName": "ticketid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contactid",
              "displayName": "contactid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "userid",
              "displayName": "userid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastmessageat",
              "displayName": "lastmessageat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ematendimento",
              "displayName": "ematendimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "finalizoutriagem",
              "displayName": "finalizoutriagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stopchatbot",
              "displayName": "stopchatbot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "templateid",
              "displayName": "templateid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pararmensagem",
              "displayName": "pararmensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastmessage",
              "displayName": "lastmessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fase_arquivos",
              "displayName": "fase_arquivos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "local_arquivo",
              "displayName": "local_arquivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_atendente",
              "displayName": "id_atendente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_medicao",
              "displayName": "data_medicao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1280,
        300
      ],
      "id": "5ff3371c-955c-4fe9-a52e-edf6a9d4323f",
      "name": "Atualizar estado para em atendimento",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ae3SWsg6PDeqkf0W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://cmmodulados.gosac.com.br/api/tickets/{{ $('Coleta de dados').first().json.ticketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "INTEGRATION 0ddfe6600ac270ae602f509c3bf247dd8b581fe6672dc48fcb2853d91328"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"status\": \"pending\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1500,
        300
      ],
      "id": "6ae17b16-01b5-423f-81d7-7f353edf3fb4",
      "name": "Atualizar status para pendente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cmmodulados.gosac.com.br/api/messages/{{ $('Coleta de dados').item.json.ticketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "INTEGRATION 1f7e1c970adf60b4ac6dc56afbc4edcd3ed52de8656fb38f7e899bff6889"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"body\": \"Ótima escolha!\\nVou te redirecionar com um especialista do nosso time de Projeto Executivo, que vai te ajudar a dar vida às suas ideias com todo o cuidado e atenção que você merece.\\n\\nSó um instantinho que já estamos te redirecionando...\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        100
      ],
      "id": "aaed7085-fb52-4bb4-9a5b-2161bf28fb4e",
      "name": "Enviar template do Projeto Executivo",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cmmodulados.gosac.com.br/api/messages/{{ $('Coleta de dados').item.json.ticketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "INTEGRATION 1f7e1c970adf60b4ac6dc56afbc4edcd3ed52de8656fb38f7e899bff6889"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"body\": \"Entendido!\\nVou te encaminhar para o nosso time de Assistência Técnica. Eles vão te ajudar rapidinho com qualquer dúvida ou necessidade que você tenha.\\n\\nAguarde só um instante enquanto lhe redirecionamos!\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        300
      ],
      "id": "ae419a8a-3c93-49ac-b3d2-c40c4b1714e4",
      "name": "Enviar template da Assistencia Tecnica",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cmmodulados.gosac.com.br/api/messages/{{ $('Coleta de dados').item.json.ticketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "INTEGRATION 1f7e1c970adf60b4ac6dc56afbc4edcd3ed52de8656fb38f7e899bff6889"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"body\": \"Certo!\\nVou te direcionar para o setor Financeiro, onde nossa equipe vai te auxiliar com informações sobre pagamentos, boletos ou qualquer outra questão financeira.\\n\\nSó um momentinho... já estou te conectando!\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        500
      ],
      "id": "9dc29bd7-73bb-4c30-bf53-9d1b276b6011",
      "name": "Enviar template do Financeiro",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_mensagem_cliente",
          "mode": "list",
          "cachedResultName": "tb_mensagem_cliente"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contactid": "={{ $('Coleta de dados').item.json.contactId }}",
            "state": 2,
            "fase_arquivos": "projeto"
          },
          "matchingColumns": [
            "contactid"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mediapath",
              "displayName": "mediapath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mediatype",
              "displayName": "mediatype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ticketid",
              "displayName": "ticketid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contactid",
              "displayName": "contactid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "userid",
              "displayName": "userid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastmessageat",
              "displayName": "lastmessageat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ematendimento",
              "displayName": "ematendimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finalizoutriagem",
              "displayName": "finalizoutriagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stopchatbot",
              "displayName": "stopchatbot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "templateid",
              "displayName": "templateid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pararmensagem",
              "displayName": "pararmensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastmessage",
              "displayName": "lastmessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "fase_arquivos",
              "displayName": "fase_arquivos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "local_arquivo",
              "displayName": "local_arquivo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_atendente",
              "displayName": "id_atendente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data_medicao",
              "displayName": "data_medicao",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        860,
        720
      ],
      "id": "1c16a9ea-c3d2-4521-9a46-f76352b715fc",
      "name": "Atualizar estado Projeto",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ae3SWsg6PDeqkf0W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://cmmodulados.gosac.com.br/api/tickets/{{ $json.ticketid }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "INTEGRATION 0ddfe6600ac270ae602f509c3bf247dd8b581fe6672dc48fcb2853d91328"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        720
      ],
      "id": "d8b9b165-4551-47d4-823f-a78b802e8a6e",
      "name": "Recuperar ticket2",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_mensagem_cliente",
          "mode": "list",
          "cachedResultName": "tb_mensagem_cliente"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contactid": "={{ $json.contactId }}",
            "lastmessage": "={{ $json.updatedAt }}"
          },
          "matchingColumns": [
            "contactid"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mediapath",
              "displayName": "mediapath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mediatype",
              "displayName": "mediatype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ticketid",
              "displayName": "ticketid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contactid",
              "displayName": "contactid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "userid",
              "displayName": "userid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastmessageat",
              "displayName": "lastmessageat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ematendimento",
              "displayName": "ematendimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finalizoutriagem",
              "displayName": "finalizoutriagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stopchatbot",
              "displayName": "stopchatbot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "templateid",
              "displayName": "templateid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pararmensagem",
              "displayName": "pararmensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastmessage",
              "displayName": "lastmessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fase_arquivos",
              "displayName": "fase_arquivos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1440,
        700
      ],
      "id": "25dd5edb-7b36-4699-8b1a-0b63dbecb695",
      "name": "Atualizar data da ultima mensagem2",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ae3SWsg6PDeqkf0W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://cmmodulados.gosac.com.br/api/tickets/{{ $('Coleta de dados').first().json.ticketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "INTEGRATION 0ddfe6600ac270ae602f509c3bf247dd8b581fe6672dc48fcb2853d91328"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        300
      ],
      "id": "f6807f92-4c57-4df1-9be8-cf13f0f77399",
      "name": "Recuperar ticket",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "tb_mensagem_cliente",
          "mode": "list",
          "cachedResultName": "tb_mensagem_cliente"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "contactid": "={{ $json.contactId }}",
            "lastmessage": "={{ $json.updatedAt }}"
          },
          "matchingColumns": [
            "contactid"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mediapath",
              "displayName": "mediapath",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "body",
              "displayName": "body",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mediatype",
              "displayName": "mediatype",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ticketid",
              "displayName": "ticketid",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contactid",
              "displayName": "contactid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "userid",
              "displayName": "userid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastmessageat",
              "displayName": "lastmessageat",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "nome",
              "displayName": "nome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "ematendimento",
              "displayName": "ematendimento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "finalizoutriagem",
              "displayName": "finalizoutriagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "stopchatbot",
              "displayName": "stopchatbot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "templateid",
              "displayName": "templateid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pararmensagem",
              "displayName": "pararmensagem",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lastmessage",
              "displayName": "lastmessage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "state",
              "displayName": "state",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "fase_arquivos",
              "displayName": "fase_arquivos",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2040,
        280
      ],
      "id": "a5d5be3f-e3ec-4555-9e79-7895eda251cc",
      "name": "Atualizar data da ultima mensagem",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "Ae3SWsg6PDeqkf0W",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cmmodulados.gosac.com.br/api/messages/{{ $('Coleta de dados').item.json.ticketId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "INTEGRATION 1f7e1c970adf60b4ac6dc56afbc4edcd3ed52de8656fb38f7e899bff6889"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"body\": \"Antes de prosseguirmos, você pode me informar seu nome, por gentileza? 😊\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        540,
        720
      ],
      "id": "7a047a1a-7609-44ef-93d7-22bacb9d95e1",
      "name": "Enviar template pedindo nome",
      "alwaysOutputData": false
    }
  ],
  "pinData": {
    "Coleta de dados": [
      {
        "json": {
          "id": 263,
          "mediaPath": null,
          "body": "1",
          "mediaType": "chat",
          "ticketId": 15086,
          "contactId": 24914,
          "userId": 56,
          "lastmessageat": null,
          "nome": null,
          "emAtendimento": false,
          "finalizoutriagem": false,
          "stopchatbot": false,
          "templateId": null,
          "pararmensagem": true,
          "lastmessage": null,
          "state": 1,
          "fase_arquivos": "projeto"
        }
      }
    ]
  },
  "connections": {
    "Coleta de dados": {
      "main": [
        [
          {
            "node": "Serviço selecionado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Serviço selecionado": {
      "main": [
        [
          {
            "node": "Enviar template do Projeto Executivo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar template da Assistencia Tecnica",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar template do Financeiro",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enviar template pedindo nome",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirecionar para Projeto Executivo": {
      "main": [
        [
          {
            "node": "Atualizar estado para em atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirecionar para assistencia tecnica": {
      "main": [
        [
          {
            "node": "Atualizar estado para em atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redirecionar para financeiro": {
      "main": [
        [
          {
            "node": "Atualizar estado para em atendimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar estado para em atendimento": {
      "main": [
        [
          {
            "node": "Atualizar status para pendente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar template do Projeto Executivo": {
      "main": [
        [
          {
            "node": "Redirecionar para Projeto Executivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar template da Assistencia Tecnica": {
      "main": [
        [
          {
            "node": "Redirecionar para assistencia tecnica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar template do Financeiro": {
      "main": [
        [
          {
            "node": "Redirecionar para financeiro",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar ticket2": {
      "main": [
        [
          {
            "node": "Atualizar data da ultima mensagem2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar estado Projeto": {
      "main": [
        [
          {
            "node": "Recuperar ticket2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recuperar ticket": {
      "main": [
        [
          {
            "node": "Atualizar data da ultima mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar status para pendente": {
      "main": [
        [
          {
            "node": "Recuperar ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar template pedindo nome": {
      "main": [
        [
          {
            "node": "Atualizar estado Projeto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0b2b7d62-4723-4b31-ad7d-a86f5542c7ec",
  "meta": {
    "instanceId": "520e1b06ac9e78bb9b9e79d71a6de87f12f6c163c0e27372e288322703b9890b"
  },
  "id": "GUHgQLwsZmfKpJep",
  "tags": []
}